<a href="https://colab.research.google.com/github/NikunjRathod200/Machine-Learning/blob/main/Admission_chances_%5BLinear_Regression(pandas)%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Admission%20Chance.csv")

In [3]:
df.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
df.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [6]:
y= df['Chance of Admit ']

In [7]:
X = df[['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research']]

In [8]:
y.shape

(400,)

In [9]:
X.shape

(400, 8)

In [12]:
from sklearn.model_selection import train_test_split as tts

In [13]:
X_train,X_test,y_train,y_test = tts(X,y , train_size= 0.7, random_state= 2529)

In [14]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((280, 8), (120, 8), (280,), (120,))

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
lr= LinearRegression()

In [37]:
lr.fit(X_train,y_train)

LinearRegression()

In [38]:
lr.intercept_

-1.3491869284562998

In [20]:
lr.coef_

array([ 0.00018075,  0.00217672,  0.00396487,  0.00836627, -0.00080004,
        0.02030329,  0.09551552,  0.01979659])

In [22]:
y_pred = lr.predict(X_test)

In [28]:
y_pred

array([0.71638511, 0.75610311, 0.68760789, 0.68124699, 0.56927168,
       0.91423484, 0.90562753, 0.72569757, 0.79088749, 0.59675934,
       0.59489304, 0.80774252, 0.54572472, 0.77132503, 0.8737274 ,
       0.66751677, 0.61934136, 0.67447953, 0.73484064, 0.84425246,
       0.62922545, 0.86090216, 0.82814605, 0.9151533 , 0.68755296,
       0.63544487, 0.6134806 , 0.57723203, 0.51557048, 0.61715529,
       0.52595747, 0.76388331, 0.69695739, 0.75953801, 0.62049587,
       0.53097396, 0.40200383, 0.87065079, 0.92286173, 0.78952969,
       0.71932513, 0.73604218, 0.70278395, 0.90704   , 0.80062706,
       0.81781888, 0.91769447, 0.86667679, 0.58887763, 0.48098577,
       0.62564848, 0.61917228, 0.8041983 , 0.46620308, 0.71182598,
       0.74243792, 0.69141228, 0.63484399, 0.82789223, 0.6680648 ,
       0.64158042, 0.93553342, 0.66537654, 0.65115639, 0.73074156,
       0.69630576, 0.59954454, 0.91516057, 0.57456458, 0.90601273,
       0.5702746 , 0.92658714, 0.62468054, 0.71689836, 0.5250502 ,
       0.86364436, 0.60792138, 0.72722255, 0.66042681, 0.82080932,
       0.7225671 , 0.89929811, 0.67637301, 0.49554676, 0.75688317,
       0.64865133, 0.77128243, 0.57848782, 0.79141629, 0.67201156,
       0.68439077, 0.68509744, 0.91922614, 0.67840876, 0.65244089,
       0.64779263, 0.77551969, 0.67516585, 0.76765527, 0.60929075,
       0.96500346, 0.69771574, 0.97109768, 0.8244446 , 0.80824716,
       0.86627331, 0.65875764, 0.69147515, 0.60381244, 0.59431034,
       0.81010835, 0.69414677, 0.76932107, 0.57984938, 0.54290832,
       0.73859636, 0.70651852, 0.62741334, 0.84271712, 0.66928116])

In [39]:
from sklearn.metrics import mean_absolute_percentage_error as mape

In [40]:
mape(y_pred,y_test)

0.06554237809826127