<a href="https://colab.research.google.com/github/NikunjRathod200/Machine-Learning/blob/main/Linear_Regression_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv("https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Salary%20Data.csv")

In [ ]:
df.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [ ]:
df.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [ ]:
y= df['Salary']

In [ ]:
y.shape

(40,)

In [ ]:
X= df[['Experience Years']]

In [ ]:
X.shape

(40, 1)

In [ ]:
from sklearn.model_selection import train_test_split as tts

In [ ]:
X_train,X_test,y_train,y_test = tts(X,y,train_size=0.7, random_state=1)

In [ ]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((28, 1), (12, 1), (28,), (12,))

In [ ]:
X_train

    Experience Years
30               7.1
36               9.5
33               8.5
28               6.5
4                2.0
14               3.9
10               3.2
35               9.0
23               5.3
24               5.5
34               8.7
20               4.7
18               4.3
25               5.9
6                2.5
13               3.8
7                2.9
38              10.3
1                1.2
16               4.0
0                1.1
15               4.0
5                2.2
11               3.5
9                3.2
8                3.0
12               3.7
37               9.6

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr= LinearRegression()

In [ ]:
lr.fit(X_train,y_train)

LinearRegression()

In [ ]:
lr.intercept_

26085.570738568567

In [ ]:
lr.coef_

array([9414.73773774])

In [ ]:
y_pred= lr.predict(X_test)

In [ ]:
y_pred

array([ 38324.72979763, 100461.99886674,  40207.67734518,  72217.78565351,
        84456.94471258,  90105.78735522,  74100.73320106, 124940.31698487,
        68451.89055841,  82573.99716503, 103286.42018806,  64685.99546332])

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(y_test,y_pred)

0.08428529514383819