<a href="https://colab.research.google.com/github/NikunjRathod200/Machine-Learning/blob/main/Logistic_Regression_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1: Import Library

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Diabetes.csv")

In [3]:
df.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

Step 2 : Define X and y

In [5]:
y= df['diabetes']

In [6]:
y.shape

(768,)

In [7]:
X= df[['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age']]

In [8]:
X.shape

(768, 8)

Step 3: Train Test Split

In [9]:
from sklearn.model_selection import train_test_split as tts

In [16]:
X_train,X_test,y_train,y_test = tts(X,y,train_size=0.7, random_state=1)

In [17]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((537, 8), (231, 8), (537,), (231,))

In [15]:
X_train

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
326            1      122         64       32      156  35.1  0.692   30
458           10      148         84       48      237  37.6  1.001   51
465            0      124         56       13      105  21.8  0.452   21
163            2      100         64       23        0  29.7  0.368   21
167            4      120         68        0        0  29.6  0.709   34
..           ...      ...        ...      ...      ...   ...    ...  ...
645            2      157         74       35      440  39.4  0.134   30
715            7      187         50       33      392  33.9  0.826   34
72            13      126         90        0        0  43.4  0.583   42
235            4      171         72        0        0  43.6  0.479   26
37             9      102         76       37        0  32.9  0.665   46

[230 rows x 8 columns]

Step 4 : DEfine the Model

In [18]:
from sklearn.linear_model import LogisticRegression

In [22]:
lr= LogisticRegression(max_iter=500)

Step5 : Train the Model

In [24]:
lr.fit(X_train,y_train)

LogisticRegression(max_iter=500)

Step 6: Prediction

In [25]:
y_pred= lr.predict(X_test)

In [28]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0])

Step 7: Model Accuracy

In [30]:
from sklearn.metrics import accuracy_score

In [31]:
accuracy_score(y_test, y_pred)

0.7835497835497836