<a href="https://colab.research.google.com/github/NikunjRathod200/Machine-Learning/blob/main/Multiple_Linear_Regression_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Spet 1: Import Library

In [1]:
import pandas as pd

In [5]:
hp = pd.read_csv("https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Boston.csv")

In [6]:
hp.head()

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [7]:
hp.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

Step 2: Define X and y

In [8]:
y = hp['MEDV']

In [9]:
y.shape

(506,)

In [10]:
X = hp[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']]

In [11]:
X.shape

(506, 13)

Step 3: Train Test Split

In [12]:
from sklearn.model_selection import train_test_split as tts

In [14]:
X_train,X_test,y_train,y_test = tts(X,y, train_size = 0.7, random_state=2923)

In [15]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((354, 13), (152, 13), (354,), (152,))

Step 4 : Define Model

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
lr = LinearRegression()

Step 5: Train Model

In [18]:
lr.fit(X_train, y_train)

LinearRegression()

In [19]:
lr.intercept_

28.889249043093688

In [21]:
lr.coef_

array([-1.01944562e-01,  3.42689064e-02,  9.38024229e-02,  1.57360708e+00,
       -1.62977425e+01,  4.68551759e+00,  7.58189182e-03, -1.25352906e+00,
        2.62426337e-01, -1.30098616e-02, -8.94309592e-01,  7.19447325e-03,
       -5.57821581e-01])

In [22]:
X.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

Step 6 : Prediction

In [23]:
y_pred = lr.predict(X_test)

In [24]:
y_pred

array([26.1752323 , 29.58864912, 29.41938447, -2.22040006, 27.20364038,
       27.8768233 , 31.14676189, 34.63489653, 14.21330573, 30.56066233,
       15.54430546, 10.77109141, 39.77577912, 31.84424151, 20.1766788 ,
       23.20125586, 22.10976339, 21.66762407, 14.0725655 , 43.66470708,
       24.33972193, 15.12522499, 29.23898404, 28.61547551, -5.94196292,
       28.32913215, 21.70301826, 23.58867665, 33.9024288 , 29.06795936,
       22.63051535, 20.74421014, 33.68720203, 18.38553324, 31.58485497,
       16.49629492, 11.89903146, 24.64095818, 20.65432887, 16.11234495,
       13.66969179, 30.82241985, 22.7218029 , 21.53978092, 29.45267748,
       20.76462509, 20.04716354, 19.70521961, 26.88951132, 41.73291614,
       11.78832305, 20.14876687, 14.98511387, 13.00050566, 19.23642037,
       21.08712359, 27.48115032, 17.25855851, 17.65076254, 14.17610437,
       12.64889778, 15.5535212 , 21.49555393, 17.30222553, 34.99037695,
       20.45244659,  9.65734589, 44.72318912,  9.04478067, 34.24129963,
        4.05677968, 26.13999637, 30.29226048, 19.97854738, 14.09264197,
       14.21906417,  7.53287256, 28.69637614, 21.63692314, 18.433234  ,
       14.97447396, 25.88453278, 21.88828162, 20.28072699, 13.7984    ,
       14.08071852, 17.43584373, 30.0397549 , 34.50121036, 15.56610711,
       12.02999305, 17.62966723, 40.88917307, 15.34009321,  5.96327705,
       39.09963617, 20.28347143, 14.29183731, 19.64353935, 20.2959687 ,
       27.25266572, 12.44563491, 31.57338878, 32.33491111, 35.72506072,
       21.81716514, 30.40167192, 18.20812985, 23.51933775, 26.63073038,
       16.40120461, 14.34038333, 25.91505553, 19.7055754 , 17.21980185,
       22.39743198, 18.39340844, 35.69104952, 34.56615296, 20.6869489 ,
       24.59570734, 21.74429107, 18.93421153, 20.18484419, 33.85478492,
       26.85411896, 32.31014839, 31.36447488, 21.70293102, 17.7961855 ,
       15.16958089, 39.92579852, 36.11505723, 30.08416143, 20.92504998,
       12.09733021, 10.74106208, 26.87775728, 28.35293458, 28.96221535,
       20.88237879, 31.71056199, 25.23278802, 23.17303447, 19.93099929,
       36.74053871, 13.16313075,  5.61762772,  8.28844571, 30.63321014,
       41.93233374, 31.31123481])

Step 7: Model Accuracy

In [25]:
from sklearn.metrics import mean_absolute_percentage_error as mape

In [27]:
mape(y_test,y_pred)

0.1768539131928307